@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Racing+Sans+One&display=swap");

html,
body {
    height: 100%;
    display: grid;
    justify-content: center;
}

#game-window {
    display: flex;
    color: white;
    background: radial-gradient(circle at center, #395b80, #21405e);
    box-shadow: inset 0px 2px 0px 5px #8ea4bd;
    border-radius: 15px;
    user-select: none;
}

.state-board {
    border: 2px solid #8ea4bd;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        "title title"
        "score-board restart-button"
        "timer moves";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    width: 40vw;
    background: radial-gradient(circle at center, #395b80, #21405e);
    margin: 35px;
    border-radius: 5px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: repeat(4, 10vw);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin: auto 20px;
}

.card {
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border: 3px double #536880;
    transition: 0.3s ease-in-out;
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.4), 0 8px 6px rgba(0, 0, 0, 0.22);
    background: url(../images/card-background.svg) no-repeat;
    background-position: center;
    background-size: 5vw;
    margin: 0;
}

.clicked {
    transform: rotateY(180deg);
    background: inherit;
}

.correct {
    transform: rotateY(180deg);
    background: #1c354e;
    border: 3px double #fbdae3;
}

.card i {
    z-index: -1;
    opacity: 0;
    font-size: 2rem;
}

.clicked i,
.correct i {
    opacity: 1;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 1px 1px 0px rgba(255, 255, 255, 0.425);
    border: 3px double #8ea4bd;
}

#title {
    font-family: "Fredericka the Great", cursive;
    grid-area: title;
    height: 10vh;
    text-align: center;
}

#timer {
    display: flex;
    background: url(../images/timer.svg) no-repeat;
}

#score-board {
    background: url(../images/score-board.svg) no-repeat;
}

#restart-button {
    background: url(../images/restart-button.svg) no-repeat;
    cursor: pointer;
}

#moves {
    background: url(../images/moves.svg) no-repeat;
}

#score-board,
#restart-button,
#timer,
#moves {
    width: 18vw;
    height: 30vh;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
}

#restart-button:hover {
    filter: brightness(90%);
}

.winning-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background: radial-gradient(circle at center,
            rgba(253, 253, 253, 0.95),
            rgba(193, 221, 253, 0.95));
    background: white;
    border-radius: 20px;
    border: 5px double #536880;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.animated {
    opacity: 1;

}

.winning-window h3 {
    font-family: "Racing Sans One", cursive;
    color: #2c5157;
}

.winning-window button {
    padding: 15px 100px;
    margin: 7px;
    font-weight: bold;
    background-color: #15bc74;
    color: white;
    border-radius: 10px;
    border: 2px solid #d9ebff;
    cursor: pointer;
}

@media (max-width: 900px) {
    #game-window {
        width: 100vw;
        flex-direction: column;
    }

    .state-board {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 100vw;
        margin: 15vh auto 0;
        flex-wrap: wrap;
        border: 5px double #8ea4bd;
    }

    #score-board,
    #restart-button,
    #timer,
    #moves {
        display: flex;
        width: 50%;
        height: 23vh;
        margin: auto;
    }

    #title h2 {
        font-size: 1.7rem;
        font-weight: normal;
        position: absolute;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
        margin: 0;
    }

    #cards {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(4, 15vw);
        justify-content: center;
        margin: 5vh auto;
    }

    .winning-window {
        width: 90vw;
    }
    .winning-window h3 {
        font-size: 2rem;
    }    
}